<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Shelby Foegelle</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    
    <article>
        <img src="http://placehold.it/900x500" alt="Google Map Location">
        <img src="http://placehold.it/60x60" alt="Logo">
        <section>
            <h3>Creative <span>Department</span></h3>
            <p>1132 Main Street, OTR</p>
            <p>Cincinnati, Ohio 45202, U.S.A.</p>
            <p>p. 513-651-2901 &#183; f. 513-651-2902</p>
            <a href="mailto:">info@creativedepartment.com</a>
        </section>
    </article>
    
	<!-- End Component -->
	
</body>
</html>