<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Shelby Foegelle</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    
    <img src="http://placehold.it/150x150" alt="Mailchimp">
    
    <form>
        Username
        <a href="#">I forgot</a><br>
        <input type="text" name="username" placeholder="&#42;">
        <br>Password
        <a href="#">I forgot</a><br>
        <input type="password" name="password" placeholder="&#42;">
        <label for="showPassword">
            <input type="checkbox" name="showPassword" id="showPassword">
            Show
        </label>
        <br>
        <button type="submit" value="log in">Log In</button>
        <label for="stayLoggedIn">
            <input type="checkbox" name="stayLoggedIn" id="stayLoggedIn">
            Stay logged in
        </label><br>
        <a href="#">Create an account</a>
        &#183;
        <a href="#">Trouble logging in?</a>
    </form>

	<!-- End Component -->
	
</body>
</html>