<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Shelby Foegelle</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <img src="freddie_o.png" alt="Mailchimp">
        <!-- add ptag -->
        <form>
            <p id="name">
                Username
                <a href="#">I forgot</a>
                <input type="text" name="username">
            </p>

            <p id="password">
                <label>
                    Password
                    <a href="#">I forgot</a>
                </label>
                <input type="password" name="password">

                <label for="showPassword">
                    <input type="checkbox" name="showPassword" id="showPassword">
                    Show
                </label>
            </p>

            <p><button type="submit" value="log in">Log In</button></p>

            <p id="logged">
                <label for="stayLoggedIn">
                    <input type="checkbox" name="stayLoggedIn" id="stayLoggedIn">
                    Stay logged in
                </label>
            </p>

            <p id="extras">
                <a href="#">Create an account</a>
                &#183;
                <a href="#">Trouble logging in?</a>
            </p>
        </form>
    </section>
	<!-- End Component -->
	
</body>
</html>