<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Shelby Foegelle</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <h1>tumblr.</h1>
    <form>
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button>Log In</button>
    </form>
    <a href="#">Forgot your password?</a>
	

	<!-- End Component -->
	
</body>
</html>