<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Shelby Foegelle</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <nav>
        <h1>OFFICE FOR RENT</h1>
        <ul>
            <li>Home</li>
            <li>About</li>
            <ul>
                <li>Articles</li>
                <li>History</li>
                <ul>
                    <li>Lorem</li>
                    <li>Dolor</li>
                    <li>Sit amet</li>
                </ul>
                <li>Offers</li>
            </ul>
            <li>Offices</li>
            <li>Services</li>
            <li>News</li>
            <li>Contacts</li>
        </ul>
    </nav>
    <img src="http://placehold.it/960x200" alt="Image" height="100%" width="100%">
	<!-- End Component -->
	
</body>
</html>