/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */

/* HEADER ======================================== */
section {
    background-image: url(hip-dog.jpg);
    background-position: 0px 20px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: #ffde00;
    max-width: 240px;
    min-width: 150px;
    margin: 0 auto;
    padding: 20px 40px 140px 650px;
    text-align: center;
    display: block;
    font-family: "helvetica", sans-serif;
}

img {
    margin: 0 auto;
    width: 90%;
    padding-bottom: 20px;
}

a {
    background-color: #faa61a;
    padding: 8px 15px 6px;
    font-size: 14px;
    font-weight: 700;
    color: #111;
    text-decoration: none;
    box-shadow: 0 1px 1px;
    border: 1px solid #f59b05;
    border-radius: 5px;
    text-transform: uppercase;
}
