<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Shelby Foegelle</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    
    <img src="http://placehold.it/500x500" alt="Dog">
    <h2>Keep Playing</h2>
    <h1>Hip &#38; Joint</h1>
    <p>Support Healthy Hip &#38; Joint Function</p>
    <h3>100&#37; USA sourced.</h3>
    <img src="http://placehold.it/200x200" alt="Product Image">
    <a href="#">Purchase Now</a>

	<!-- End Component -->
	
</body>
</html>