<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Shelby Foegelle</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <article>
        <img src="http://placehold.it/500x500" alt="Person 1">
        <div class="tint"></div>
        <section class="name">
            <h3>Ryan Vanni</h3>
            <h4>CEO &#47; Founder</h4>
        </section>
        <hr>
        <section class="links">
            <a href="#" title="twitter"><img src="http://placehold.it/50x50" alt="Twitter Icon"></a>
            <a href="#" title="instagram"><img src="http://placehold.it/50x50" alt="Instagram Icon"></a>
            <a href="#" title="linkedin"><img src="http://placehold.it/50x50" alt="LinkedIn Icon"></a>
        </section>
    </article>
    
    <article>
        <img src="http://placehold.it/500x500" alt="Person 2">
        <div class="tint"></div>
        <section class="name">
            <h3>Robert Reinhard</h3>
            <h4>CTO</h4>
        </section>
        <hr>
        <section class="links">
            <a href="#" title="facebook"><img src="http://placehold.it/50x50" alt="Facebook Icon"></a>
            <a href="#" title="twitter"><img src="http://placehold.it/50x50" alt="Twitter Icon"></a>
            <a href="#" title="linkedin"><img src="http://placehold.it/50x50" alt="LinkedIn Icon"></a>
            <a href="#" title="github"><img src="http://placehold.it/50x50" alt="Github Icon"></a>
        </section>
    </article>
    
    <article>
        <img src="http://placehold.it/500x500" alt="Person 3">
        <div class="tint"></div>
        <section class="name">
            <h3>Jeff Toll</h3>
            <h4>Creative Director</h4>
        </section>
        <hr>
        <section class="links">
            <a href="#" title="twitter"><img src="http://placehold.it/50x50" alt="Twitter Icon"></a>
            <a href="#" title="linkedin"><img src="http://placehold.it/50x50" alt="LinkedIn Icon"></a>
        </section>
    </article>
	<!-- End Component -->
	
</body>
</html>