<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Shelby Foegelle</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
   
    <!-- Social media images will be added using CSS -->
    <section>
        <article>
            <img src="RyanVanni.jpg" width="100%" height="100%" alt="Picture of Ryan Vanni">        
            <section>
                <h3>Ryan Vanni</h3>
                <h4>CEO &#47; Founder</h4>
                <ul>
                    <li><a href="#" title="twitter"></a></li>
                    <li><a href="#" title="instagram"></a></li>
                    <li><a href="#" title="linkedin"></a></li>
                </ul>
            </section>
        </article>

        <article>
            <img src="RobertReinhard.jpg" width="100%" height="100%" alt="Picture of Robert Reinhard">
            <section>
                <h3>Robert Reinhard</h3>
                <h4>CTO</h4>
                <ul>
                    <li><a href="#" title="facebook"></a></li>
                    <li><a href="#" title="twitter"></a></li>
                    <li><a href="#" title="linkedin"></a></li>
                    <li><a href="#" title="github"></a></li>
                </ul>
            </section>
        </article>

        <article>
            <img src="JeffToll.jpg" width="100%" height="100%" alt="Picture of Jeff Toll">
            <section>
                <h3>Jeff Toll</h3>
                <h4>Creative Director</h4>
                <ul>
                    <li><a href="#" title="twitter"></a></li>
                    <li><a href="#" title="linkedin"></a></li>
                </ul>
            </section>
        </article>
    </section>
	<!-- End Component -->
	
</body>
</html>