/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */

/* HEADER ======================================== */
html, body {
    height: 100%;
}

section:first-child {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

article {
    margin: 0;
    padding: 0;
    width: calc(99%/3);
    overflow: hidden;
    float: left;
    position: relative;
}

h3 {
    padding-top: 37%;
}

img {
    display: block;
}

article section {
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    background:rgba(0,0,0,.5);
    color: #fff;
    opacity: 0;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    transition: opacity .5s ease;
    -webkit-backface-visibility: hidden;
}

h4:after {
    content: "";
    display: block;
    height: 10px;
    width: 40px;
    margin: 20px auto 0 auto;
    border-top: 1px solid #fff;
}

article:hover section{
    opacity: 1;
}

h3, h4 {
    font-family: "Helvetica", sans-serif;
    margin: 0;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

h4 {
    display: inline;
    font-size: 16px;
    margin-bottom: 50px;
}

ul {
    margin: 20px 0 0 -40px;
}

li {
    display: inline;
    width: 0%;
}

a {
    background-size: 70%;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 10px;
    border-radius: 100px;
    border: 1px solid #68bfb6;
    background-color: #68bfb6;
}

a:hover {
    background-color: #539891;
    border-color: #539891;
}

/* First Person */
article:nth-child(1) li:nth-child(1) a {
    background-image: url(sprites.png);
    background-repeat: no-repeat;
    background-position: 8px -167px;
}

article:nth-child(1) li:nth-child(2) a {
    background-image: url(sprites.png);
    background-repeat: no-repeat;
    background-position: 8px -226px;
}

article:nth-child(1) li:nth-child(3) a {
    background-image: url(sprites.png);
    background-repeat: no-repeat;
    background-position: 8px -285px;
}

/* Second Person */
article:nth-child(2) li:nth-child(1) a {
    background-image: url(sprites.png);
    background-repeat: no-repeat;
    background-position: 7px -399px;
}

article:nth-child(2) li:nth-child(2) a {
    background-image: url(sprites.png);
    background-repeat: no-repeat;
    background-position: 8px -167px;
}

article:nth-child(2) li:nth-child(3) a {
    background-image: url(sprites.png);
    background-repeat: no-repeat;
    background-position: 8px -285px;
}

article:nth-child(2) li:nth-child(4) a {
    background-image: url(sprites.png);
    background-repeat: no-repeat;
    background-position: 7px -50px;
}

/* Third Person */
article:nth-child(3) li:nth-child(1) a {
    background-image: url(sprites.png);
    background-repeat: no-repeat;
    background-position: 8px -167px;
}

article:nth-child(3) li:nth-child(2) a {
    background-image: url(sprites.png);
    background-repeat: no-repeat;
    background-position: 8px -285px;
}

@media (max-width: 1024px) {
    article {
        width: 50%;
    }
}

@media (max-width: 700px) {
    article {
        width: 100%;
    }
}

@media (max-width: 375px) {
    h3 {
        padding-top: 20%;
    }
}
