/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */

/* HEADER ======================================== */
html, body {
    height: 100%;
}

section {
    max-width: 1000px;
    margin: 0 auto;
}

article {
    margin: 0;
    padding: 0;
    width: calc(99%/3);
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.personInfo {
    background:rgba(0,0,0,.5);
    color: #fff;
    opacity: 0;
    margin-top: -335px;
    padding: 100px 0 101px 0;
    text-align: center;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
}

article:hover .personInfo{
    opacity: 1;
}

h3, h4 {
    font-family: "Helvetica", sans-serif;
    margin: 0;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

h4 {
    display: inline;
    font-size: 16px;
    margin-bottom: 50px;
}

ul {
    margin: 40px 0 0 -40px;
}

li {
    background-image: url(http://placehold.it/40x40);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
    margin: 0 3px;
    display: inline;
}

@media (max-width: 840px) {
    article {
        width: calc(96%/3);
    }
    
    .personInfo {
        padding: 150px 0 68px 0;
    }
}
