<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Shelby Foegelle</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<div class="cta">
        <h1>MANLY GOODS WHEN YOU NEED THEM</h1>
        <h2>Men's underwear, socks, razors, condoms and more.</h2>
        <h3>Awesome Gear. One-click Shipments. No BS Returns.</h3>
        <form>
            <input type="email" name="email" placeholder="Email Address">
            <button>Get Started</button>
            <div>
                <p>or</p>
                <a href="https://www.facebook.com/dialog/oauth?client_id=107258832672929&redirect_uri=https%3A%2F%2Fwww.manpacks.com%2Ffb%2Fverify&state=2e1c2853b5ad76a270a83eb0383c11c9&sdk=php-sdk-3.2.3&scope=email">Connect With Facebook</a>
            </div>
            <div>Join 1000's of men already signed up</div>
        </form>
        <p>As seen on Forbes, MensHealth, Inc., Thrillist, The Awesome, Techcrunch, Mashable</p>
    </div>

	<!-- End Component -->
	
</body>
</html>