<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Shelby Foegelle</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <h1>Contact</h1>
	<span></span><!-- span to place the bowtie -->
    <div id="contactLeft">
        <div id="contactLeft1">
            <span>E-Mail:</span>
            <p>bnsg@billnye.com</p>
            <span>Or Write:</span>
            <p>Nye Labs, LLC<br>Bill Nye The Science Guy<br>4742 42nd Avenue SW, #143<br>Seattle, WA 98116</p>
        </div>
        <div id="contactLeft2">
            <span>For media and press requests please contact:</span>
            <p>Glenn Schwartz - Cyberlaff Inc.<br>818-224-2990<br>glenn.schwartz@icloud.com</p>
        </div>
    </div>
    <div id="contactRight">
        <div id="contactRight1">
            <span>For personal appearances &#38; speaking:</span>
            <p>Nick Pampenella<br>nickpampenella@theagencygroup.com<br><br>The Agency Group<br>142 W 57th Street, 6th Floor New York, NY 10019<br>212-581-3100<br>www.theagencygroup.com</p>
        </div>
        <div id="contactRight2">
            <span>For general inquires please contact</span>
            <p>Christine Sposari<br>Assistant to Mr. Nye<br>bnsg@billnye.com</p>
        </div>
    </div>
	<!-- End Component -->
	
</body>
</html>