<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Shelby Foegelle</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <div>
        <h1>Razorfish New York</h1>
        <p>1440 Broadway, 19th Floor, New York, NY 10018  &#43;1 212 798 6600</p>
        <ul>
            <li><a href="#">Email Us</a></li>
            <li><a href="#">Contact Media Relations</a></li>
            <li><a href="#">Contact Analyst Relations</a></li>
        </ul>
        <ul>
            <li>
                <h5>President, East Region</h5>
                <em>Patrick Frend</em>
            </li>
            <li>
                <h5>Managing Director</h5>
                <em>Chris McNally</em>
            </li>
            <li>
                <h5>Business Development</h5>
                <em>Ryan Alderman</em>
            </li>
        </ul>
    </div>
    <div id="map">
        <img src="/images/nyc_map.jpg" alt="Map">
    </div>
	

	<!-- End Component -->
	
</body>
</html>