<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Shelby Foegelle</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <footer>
        <!-- Will add images of social media with CSS -->
        <ul>
            <li><a href="twitter.com"></a></li>
            <li><a href="facebook.com"></a></li>
            <li><a href="rdio.com"></a></li>
            <li><a href="dribbble.com"></a></li>
            <li><a href="instagram.com"></a></li>
        </ul>
    </footer>

    <footer>
        <p>Proudly producing from the Midwest.</p>
    </footer>   
    <!-- End Component -->
	
</body>
</html>