<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Shelby Foegelle</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <div id="whatsHappening">
        <img src="http://placehold.it/32x32" alt="Image" width="32" height="32">
        <form>
            <input type="text" name="status" placeholder="What's Happening&#63;">
        </form>
    </div>
    
    <div>
        <img src="http://placehold.it/48x48" alt="Image" width="48" height="48">
        <h3>Gizmodo</h3>
        <p>If we're going to do celebrity <a href="#">#DroughtShaming</a> let's do it right <a href="#">gizmo.do/llzlEfg</a></p>
        <img src="http://placehold.it/500x300" alt="Image" width="50%" height="50%">
    </div>
	
    <div id="buttons">
        <input type="image" name="Reply" src="http://placehold.it/16x16" alt="" width="16" height="16">
        <input type="image" name="Retweet" src="http://placehold.it/16x16" alt="" width="16" height="16">
        <input type="image" name="Favorite" src="http://placehold.it/16x16" alt="" width="16" height="16">
        <input type="image" name="More" src="http://placehold.it/16x16" alt="" width="16" height="16">
        <a href="#">View photo</a>
    </div>

	<!-- End Component -->
	
</body>
</html>