/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */

/* HEADER ======================================== */
footer {
    max-width: 960px;
    overflow: hidden;
    margin: 0 auto;
}

ul {
    list-style: none;
    overflow: hidden;
    margin: 100px auto;
    width: 780px;
    padding: 0;
}

li {
    float: left;
    margin-right: 80px;
    display: list-item;
}

ul a {
    display: block;
    height: 88px;
    width: 92px;
}
a[href="twitter.com"] {
    background-image: url(social.png);
    background-position: left top;
}

a[href="twitter.com"]:hover {
    background-position: left bottom;
}

a[href="facebook.com"] {
    background-image: url(social.png);
    background-position: 25% top;
}

a[href="facebook.com"]:hover {
    background-position: 25% bottom;
}

a[href="rdio.com"] {
    background-image: url(social.png);
    background-position: 50% top;
}

a[href="rdio.com"]:hover {
    background-position: 50% bottom;
}

a[href="dribbble.com"] {
    background-image: url(social.png);
    background-position: 75% top;
}

a[href="dribbble.com"]:hover {
    background-position: 75% bottom;
}

a[href="instagram.com"] {
    background-image: url(social.png);
    background-position: right top;
}

li:nth-child(5) {
    margin-right: 0;
}

a[href="instagram.com"]:hover {
    background-position: right bottom;
}

footer:nth-child(2) {
    font-family: georgia, serif;
    font-size: 16px;
    padding: 50px 0;
    clear: both;
    border-top: 1px solid #c5c5c5;
    text-align: center;
    color: #c5c5c5;
}
