<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Shelby Foegelle</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <div class="wrapper">
        <footer>
            <ul>
                <li><a href="#"><img src="http://placehold.it/90x90" alt="Twitter"></a></li>
                <li><a href="#"><img src="http://placehold.it/90x90" alt="Facebook"></a></li>
                <li><a href="#"><img src="http://placehold.it/90x90" alt="Rdio"></a></li>
                <li><a href="#"><img src="http://placehold.it/90x90" alt="Dribble"></a></li>
                <li><a href="#"><img src="http://placehold.it/90x90" alt="Instagram"></a></li>
            </ul>
        </footer>

        <footer style="border-top: 1px solid #ccc">
            <p>Proudly producing from the Midwest.</p>
        </footer>   
    </div>
    <!-- End Component -->
	
</body>
</html>